# Limpando os dados

### Nesta segunda parte do código iremos tratar os dados, realizando a limpeza dos dados, incluindo:

■    Tratamento de valores faltantes

■    Remoção de duplicatas

■    Conversão de tipos de dados, se necessário

#### Irei começar importando as bibliotecas necessárias para essa limpeza

In [1]:
import pandas as pd

#### Irei importar minha tabela que foi gerada na Parte 1, ou seja, na criação deste Dataset

In [2]:
#estou chamando meu arquivo para vir para dentro do VS para trabalharmos nele.
dados = pd.read_csv("Tabela Quod")

#### Resolvi visualizar as primeiras 10 linhas só para tentar visualizar algum valor errado e de cara já vi. A venda de ID 901 apresenta valores zeros mas a forma de pagamento como PIX. Por quê? Podemos trabalhar com algumas hipóteses breves, como: Será que era alguma promoção? Depois de comprar uma certa quantidade a pessoa ganha mais um? Podemos descobrir na próxima análise. O foco desta agora é apenas a limpeza.

In [3]:
#visualizando as primeiras 10 linhas
dados.head(10)

,Unnamed: 0,ID,Data,Produto,Tamanho,Preço,Quantidade,Categoria,Forma de Pagamento,Hora,Valor Total
0,0,14,2023-02-24,Acai,700ml,20,2,Natural,credito,11:01:00,40
1,1,551,2023-12-28,Sorvete,300ml,13,2,Batido com frutas,pix,16:34:00,26
2,2,960,2023-06-28,Sorvete,700ml,20,1,Natural,pix,11:03:00,20
3,3,8,2023-12-08,Acai,500ml,16,2,Batido com frutas,credito,16:21:00,32
4,4,659,2023-08-09,Sorvete,400ml,14,2,Natural,debito,17:19:00,28
5,5,413,2023-06-27,Sorvete,0,0,1,Batido com frutas,pix,10:14:00,0
6,6,989,2023-08-23,Sorvete,300ml,13,1,Batido com frutas,pix,13:16:00,13
7,7,571,2023-01-16,Acai,0,0,1,Natural,credito,15:49:00,0
8,8,531,2023-10-01,Acai,200ml,10,1,Batido com frutas,debito,16:05:00,10
9,9,352,2023-06-12,Sorvete,200ml,10,1,Batido com frutas,credito,14:07:00,10

In [4]:
#localizando valores igual a 0
dados.loc[dados['Tamanho']=='0']

,Unnamed: 0,ID,Data,Produto,Tamanho,Preço,Quantidade,Categoria,Forma de Pagamento,Hora,Valor Total
5,5,413,2023-06-27,Sorvete,0,0,1,Batido com frutas,pix,10:14:00,0
7,7,571,2023-01-16,Acai,0,0,1,Natural,credito,15:49:00,0
18,18,161,2023-08-24,Acai,0,0,2,Batido com frutas,credito,17:18:00,0
51,51,930,2023-12-03,Sorvete,0,0,2,Batido com frutas,pix,10:44:00,0
53,53,393,2023-01-14,Acai,0,0,1,Batido com frutas,credito,10:54:00,0
...,...,...,...,...,...,...,...,...,...,...,...
463,463,462,2023-06-29,Acai,0,0,2,Natural,debito,18:58:00,0
483,483,398,2023-06-28,Acai,0,0,1,Batido com frutas,credito,17:17:00,0
485,485,481,2023-06-09,Sorvete,0,0,2,Natural,credito,14:11:00,0
486,486,910,2023-02-11,Sorvete,0,0,1,Batido com frutas,pix,17:37:00,0
499,499,917,2023-06-17,Acai,0,0,1,Natural,credito,15:32:00,0

#### Foi identifcado que temos 83 linhas com valor 0

#### Irei excluir esses valores zerado no código abaixo

In [5]:
dados = dados[dados['Tamanho'] != '0']
print(dados)

     Unnamed: 0   ID        Data  Produto Tamanho  Preço  Quantidade  \
0             0   14  2023-02-24     Acai   700ml     20           2
1             1  551  2023-12-28  Sorvete   300ml     13           2
2             2  960  2023-06-28  Sorvete   700ml     20           1
3             3    8  2023-12-08     Acai   500ml     16           2
4             4  659  2023-08-09  Sorvete   400ml     14           2
..          ...  ...         ...      ...     ...    ...         ...
494         494  437  2023-09-17     Acai   700ml     20           1
495         495  992  2023-01-09     Acai   300ml     13           2
496         496  846  2023-11-20  Sorvete   300ml     13           2
497         497  469  2023-06-28  Sorvete   300ml     13           2
498         498  426  2023-12-26  Sorvete   500ml     16           1

             Categoria Forma de Pagamento      Hora  Valor Total
0              Natural            credito  11:01:00           40
1    Batido com frutas                pix  16:34:00           26
2              Natural                pix  11:03:00           20
3    Batido com frutas            credito  16:21:00           32
4              Natural             debito  17:19:00           28
..                 ...                ...       ...          ...
494            Natural             debito  17:14:00           20
495  Batido com frutas             debito  17:46:00           26
496  Batido com frutas                pix  16:21:00           26
497            Natural             debito  11:39:00           26
498  Batido com frutas             debito  12:54:00           16

[433 rows x 11 columns]

#### Salvando o dataset limpo em um arquivo chamado "data_clean.csv."

In [6]:
dados.to_csv('data_clean.csv')

#### Status Atual do Projeto:
     Dataset: Já limpo e tratado.
     Progresso: Estamos na parte 2 de 4 deste Script de Teste da Quod.
     Próximos Passos: Na parte 3 desse Script, a penúltima etapa, vamos trabalhar nos cálculos.