# Limpando os dados

### Nesta segunda parte do código iremos tratar os dados, realizando a limpeza dos dados, incluindo:

■    Tratamento de valores faltantes

■    Remoção de duplicatas

■    Conversão de tipos de dados, se necessário

#### Irei começar importando as bibliotecas necessárias para essa limpeza

In [39]:
import pandas as pd

#### Irei importar minha tabela que foi gerada na Parte 1, ou seja, na criação deste Dataset

In [40]:
#estou chamando meu arquivo para vir para dentro do VS para trabalharmos nele.
dados = pd.read_csv("Tabela Criada")

#### Resolvi visualizar as primeiras 10 linhas

In [52]:
#visualizando as primeiras 10 linhas
dados.head(10)

,ID,Data,Produto,Tamanho,Preço,Quantidade,Categoria,Forma de Pagamento,Hora,Valor Total
0,558,2023-05-26,Sorvete,700ml,20,1,Natural,debito,17:42:00,20
1,160,2023-08-09,Sorvete,200ml,10,1,Batido com frutas,pix,12:07:00,10
2,903,2023-01-06,Acai,500ml,16,2,Natural,pix,19:47:00,32
3,367,2023-11-27,Sorvete,300ml,13,2,Batido com frutas,pix,10:30:00,26
4,76,2023-07-07,Acai,400ml,14,1,Batido com frutas,debito,18:15:00,14
5,927,2023-05-25,Acai,500ml,16,2,Batido com frutas,pix,10:48:00,32
6,566,2023-06-04,Sorvete,200ml,10,2,Batido com frutas,pix,18:34:00,20
7,264,2023-04-09,Sorvete,300ml,13,2,Batido com frutas,debito,12:35:00,26
8,738,2023-09-19,Acai,400ml,14,2,Natural,pix,17:07:00,28
9,250,2023-05-31,Acai,200ml,10,1,Natural,credito,12:28:00,10

#### Agora, irei localizar todos os valores igual a 0

In [42]:
#localizando valores igual a 0
dados.loc[dados['Tamanho']=='0']

,Unnamed: 0,ID,Data,Produto,Tamanho,Preço,Quantidade,Categoria,Forma de Pagamento,Hora,Valor Total
22,22,693,2023-02-08,Acai,0,0,2,Natural,pix,11:01:00,0
26,26,442,2023-12-05,Acai,0,0,2,Batido com frutas,credito,19:15:00,0
27,27,896,2023-11-18,Sorvete,0,0,2,Natural,debito,19:13:00,0
32,32,638,2023-10-17,Acai,0,0,1,Batido com frutas,debito,16:58:00,0
36,36,137,2023-05-13,Acai,0,0,2,Batido com frutas,debito,16:29:00,0
...,...,...,...,...,...,...,...,...,...,...,...
472,472,431,2023-01-07,Sorvete,0,0,1,Natural,pix,15:31:00,0
480,480,666,2023-06-18,Sorvete,0,0,1,Natural,credito,11:09:00,0
481,481,946,2023-10-04,Acai,0,0,2,Batido com frutas,credito,17:47:00,0
493,493,137,2023-06-06,Sorvete,0,0,2,Natural,credito,16:13:00,0
494,494,104,2023-02-12,Sorvete,0,0,2,Natural,pix,17:28:00,0

#### Irei excluir esses valores zerados no código abaixo

In [43]:
dados = dados[dados['Tamanho'] != '0']
print(dados)

     Unnamed: 0   ID        Data  Produto Tamanho  Preço  Quantidade  \
0             0  558  2023-05-26  Sorvete   700ml     20           1
1             1  160  2023-08-09  Sorvete   200ml     10           1
2             2  903  2023-01-06     Acai   500ml     16           2
3             3  367  2023-11-27  Sorvete   300ml     13           2
4             4   76  2023-07-07     Acai   400ml     14           1
..          ...  ...         ...      ...     ...    ...         ...
495         495  427  2023-02-20  Sorvete   200ml     10           2
496         496  817  2023-07-05     Acai   700ml     20           2
497         497  305  2023-12-26     Acai   300ml     13           2
498         498  770  2023-06-11  Sorvete   400ml     14           1
499         499   31  2023-12-05     Acai   200ml     10           2

             Categoria Forma de Pagamento      Hora  Valor Total
0              Natural             debito  17:42:00           20
1    Batido com frutas                pix  12:07:00           10
2              Natural                pix  19:47:00           32
3    Batido com frutas                pix  10:30:00           26
4    Batido com frutas             debito  18:15:00           14
..                 ...                ...       ...          ...
495  Batido com frutas            credito  19:01:00           20
496  Batido com frutas             debito  10:28:00           40
497  Batido com frutas            credito  19:44:00           26
498  Batido com frutas             debito  17:16:00           14
499            Natural            credito  17:32:00           20

[430 rows x 11 columns]

#### Salvando o dataset limpo em um arquivo chamado "data_clean.csv."

In [48]:
dados= dados.drop(columns=['Unnamed: 0']).reset_index(drop=True)
dados.to_csv('data_clean.csv')

#### Status Atual do Projeto:
     Dataset: Já limpo e tratado.
     Progresso: Estamos na parte 2 de 4 deste Script de Teste da Quod.
     Próximos Passos: Na parte 3 desse Script, a penúltima etapa, vamos trabalhar nos cálculos.